In [42]:
import pandas as pd

In [43]:
data = pd.read_csv('./D3_Heart_Dataset.csv')
data

,Age,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [44]:
type(data)

pandas.core.frame.DataFrame

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Gender          918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [46]:
data["ExerciseAngina"].value_counts()

ExerciseAngina
N    547
Y    371
Name: count, dtype: int64

In [47]:
data["ExerciseAngina"] = data["ExerciseAngina"].replace('Y',1)
data["ExerciseAngina"] = data["ExerciseAngina"].replace('N',0)
data

C:\Users\ISHHAQ\AppData\Local\Temp\ipykernel_13936\1618488838.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["ExerciseAngina"] = data["ExerciseAngina"].replace('N',0)

,Age,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,0,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,0,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,1,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,0,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,0,0.0,Up,0

In [48]:
data["ChestPainType"].value_counts()

ChestPainType
ASY    496
NAP    203
ATA    173
TA      46
Name: count, dtype: int64

Let us use Ordinal encoding as follows:
- TA (typical angina): 1
- ATA (atypical angina): 2
- NAP (non-anginal pain): 3
- ASY (asymptomatic): 4

In [49]:
data["ChestPainType"] = data["ChestPainType"].replace('TA',1)
data["ChestPainType"] = data["ChestPainType"].replace('ATA',2)
data["ChestPainType"] = data["ChestPainType"].replace('NAP',3)
data["ChestPainType"] = data["ChestPainType"].replace('ASY',4)
data

C:\Users\ISHHAQ\AppData\Local\Temp\ipykernel_13936\146777884.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data["ChestPainType"] = data["ChestPainType"].replace('ASY',4)

,Age,Gender,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,2,140,289,0,Normal,172,0,0.0,Up,0
1,49,F,3,160,180,0,Normal,156,0,1.0,Flat,1
2,37,M,2,130,283,0,ST,98,0,0.0,Up,0
3,48,F,4,138,214,0,Normal,108,1,1.5,Flat,1
4,54,M,3,150,195,0,Normal,122,0,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,1,110,264,0,Normal,132,0,1.2,Flat,1
914,68,M,4,144,193,1,Normal,141,0,3.4,Flat,1
915,57,M,4,130,131,0,Normal,115,1,1.2,Flat,1
916,57,F,2,130,236,0,LVH,174,0,0.0,Flat,1
917,38,M,3,138,175,0,Normal,173,0,0.0,Up,0

In [50]:
data=pd.get_dummies(data,columns=['Gender'])
data

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Gender_F,Gender_M
0,40,2,140,289,0,Normal,172,0,0.0,Up,0,False,True
1,49,3,160,180,0,Normal,156,0,1.0,Flat,1,True,False
2,37,2,130,283,0,ST,98,0,0.0,Up,0,False,True
3,48,4,138,214,0,Normal,108,1,1.5,Flat,1,True,False
4,54,3,150,195,0,Normal,122,0,0.0,Up,0,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,Normal,132,0,1.2,Flat,1,False,True
914,68,4,144,193,1,Normal,141,0,3.4,Flat,1,False,True
915,57,4,130,131,0,Normal,115,1,1.2,Flat,1,False,True
916,57,2,130,236,0,LVH,174,0,0.0,Flat,1,True,False
917,38,3,138,175,0,Normal,173,0,0.0,Up,0,False,True

In [51]:
data['Gender_F']=data['Gender_F'].astype(int)
data['Gender_M']=data['Gender_M'].astype(int)
data

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Gender_F,Gender_M
0,40,2,140,289,0,Normal,172,0,0.0,Up,0,0,1
1,49,3,160,180,0,Normal,156,0,1.0,Flat,1,1,0
2,37,2,130,283,0,ST,98,0,0.0,Up,0,0,1
3,48,4,138,214,0,Normal,108,1,1.5,Flat,1,1,0
4,54,3,150,195,0,Normal,122,0,0.0,Up,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,110,264,0,Normal,132,0,1.2,Flat,1,0,1
914,68,4,144,193,1,Normal,141,0,3.4,Flat,1,0,1
915,57,4,130,131,0,Normal,115,1,1.2,Flat,1,0,1
916,57,2,130,236,0,LVH,174,0,0.0,Flat,1,1,0
917,38,3,138,175,0,Normal,173,0,0.0,Up,0,0,1

In [52]:
data.to_csv('D3_Heart_Dataset_Clean.csv')